@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <img class="center-block" src="~/Images/future.jpg" />
</div>
<h5>Our main objective is to help future missionaries answer any questions that they have about certain LDS missions from the most reliable 
    source; those who have served those missions. Our hope is that these answers will help motivate and excite
    those who have already received a mission call as well as those who are still deciding whether they want 
    to serve a mission.</h5>
