@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/myStyle.css" rel="stylesheet" />
<div class="jumbotron">
    <blockquote class="bottom-right">
        <p class="lead" style="color:black">After all that has been said,<br /> the greatest and most important duty is to preach the Gospel.</p>
        <footer style="color:white">Joseph Smith</footer>
    </blockquote>
    <p><a href="lds.org" class="btn btn-primary btn-lg bottom-right">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <blockquote>
            <p>
                All power is given unto me in heaven and in earth.

                Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost.
            </p>
            <footer>
                Matthew 28:18-19
            </footer>
        </blockquote>
    </div>
    <div class="col-md-4">
        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/3aKU2rkvFQU" frameborder="0" allowfullscreen></iframe></p> 
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="img-rounded"src="~/Images/ammon.jpg" width="370"/>
    </div>
    <div class="col-md-4">
        <h3>
            From acient missionary work to today, the promised blessings are the same
        </h3>
       
        <blockquote>
           <p>
               15. And if it so be that you should labor all your days in crying repentance unto this people, and bring, save it be one soul unto me, how great shall be your joy with him in the kingdom of my Father!<br />

               16. And now, if your joy will be great with one soul that you have brought unto me into the kingdom of my Father, how great will be your joy if you should bring many souls unto me
           </p>
            <footer>
                Doctrine and Covenants 18:15-16
            </footer>
        </blockquote>
   
    </div>
    <div class="col-md-4">
        <img class="img-rounded" src="~/Images/sisters.jpg" width="370" />
    </div>
</div>